In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
path = 'data/regress_data1.csv'
data = pd.read_csv(path)
data.insert(0,'ones',1)
data.head()

   ones      人口       收益
0     1  6.1101  17.5920
1     1  5.5277   9.1302
2     1  8.5186  13.6620
3     1  7.0032  11.8540
4     1  5.8598   6.8233

In [18]:
X = data.iloc[:,0:-1]
X.head()

   ones      人口
0     1  6.1101
1     1  5.5277
2     1  8.5186
3     1  7.0032
4     1  5.8598

In [19]:
X = X.values
X.shape

(97, 2)

In [20]:
y = data.iloc[:,-1]
y.head()

0    17.5920
1     9.1302
2    13.6620
3    11.8540
4     6.8233
Name: 收益, dtype: float64

In [21]:
y = y.values
y.shape

(97,)

In [22]:
y = y.reshape(97,1)
y.shape

(97, 1)

In [23]:
def cost_func(X,y,theta):
    inner = np.power(X@theta-y,2)
    return np.sum(inner)/(2*len(X))

In [24]:
theta = np.zeros((2,1))
theta.shape
cost1 = cost_func(X,y,theta)
print(cost1)

32.072733877455676

In [25]:
def gradient_Abscent (X,y,theta,alpha,count):
    costs = []
    for i in range(count):
        theta = theta - (X.T @(X @ theta - y)) * alpha / len(X)
        cost = cost_func(X,y,theta)
        costs.append(cost)
        if i%100 == 0:
            print(cost)
    return theta,costs
 
alpha = 0.02
count = 2000
theta1,costs =gradient_Abscent(X,y,theta,alpha,count)

16.76964237166745
5.170668092303259
4.813840215803055
4.640559602034057
4.556412109403549
4.5155489085988645
4.495705166048674
4.486068766778817
4.481389196347322
4.479116731414093
4.478013190619409
4.477477295755764
4.477217057705424
4.477090682463859
4.477029312876824
4.476999510945953
4.476985038710984
4.476978010791016
4.476974597934662
4.476972940603823

In [26]:
theta1

array([[-3.8928815 ],
       [ 1.19274237]])